// Light theme
$fg-color: #ffffff;
$bg-color: #5b6ee1;

// Dark theme
// $fg-color: #5b6ee1;
// $bg-color: #000000;

$font-size: 32px;
$page-width: 1000px;
$page-height: 600px;
$header-width: 350px;
$section-width: 650px;

@font-face {
  font-family: Match;
  src: url(/assets/fonts/match/Match\ 7p.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Match;
  src: url(/assets/fonts/match/Match\ 7h.ttf);
  font-weight: bold;
}

html {
    height: 100%;
}

body {
    background-color: $bg-color;
    color: $fg-color;
    font-family: Match, sans-serif;
    font-size: $font-size;
    font-smooth: never;
    -webkit-font-smoothing : none;
    -moz-osx-font-smoothing: none;

    scrollbar-width: thin;
    scrollbar-color: $fg-color $bg-color;
}

header {
    a {
        line-height: 0px;
        text-decoration: none;
    }

    nav li {
        list-style: none;
    }
}

article {
    li {
        list-style: inside;
        list-style-type: square;
    }

    li::marker {
        margin-right: 8px;
    }

    h1 {
        text-align: center;
    }

    p:before {
        content:" ";
        display:inline-block;
        margin-left: 40px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        #logo {
            display: block;
            width: 182px;
            margin: 0px auto;
        }

        nav {
            ul {
                display: flex;
                justify-content: space-evenly;

                padding: 0px;
                margin: 8px 0px;
            }

            li {
                display: inline;
            }
        }
    }

    article {
        border-top: 2px solid $fg-color;
        padding: 8px 12px;
    }

    footer {
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: $header-width $section-width;
        align-content: center;
        row-gap: 16px;
        column-gap: 16px;

        width: $page-width;
        height: 100%;
        margin: 0px auto;
    }

    header {
        display: grid;
        align-content: center;
        grid-template-columns: auto auto;

        #logo {
            margin: auto;
        }

        nav li {
            text-align: right;
        }

        nav li a:after {
            content: " >";
        }
    }

    article {
        max-height: $page-height;
        overflow-y: scroll;
        scroll-behavior: smooth;

        border-left: 2px solid $fg-color;
        padding: 16px 24px;
    }
}

h1, h2 {
    font-size: $font-size;
}

a {
    color: $fg-color;
}

a:hover {
    color: $bg-color;
    background-color: $fg-color;
}

hr {
  color: $fg-color;
  border-color: $fg-color;
  border-width: 0px 0px 2px 0px;
}

header>a:hover {
    color: $fg-color;
    background-color: $bg-color;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    opacity: 25%;
    font-size: 16px;
    text-align: center;
}

