$bg-color: #111111cc;
$fg-color: #e8e8e8;
$accent-color: #5b6ee1;
$dark-color: #333;
$void-color: #0a0a0a;
$notice-color: #F2E461;
$size: 1em;
$tab-size: 2em;
$width: 750px;

@font-face {
  font-family: MonaspaceKrypton;
  src: url(/assets/fonts/MonaspaceKrypton-Medium.woff);
  font-weight: normal;
}

@font-face {
  font-family: MonaspaceKrypton;
  src: url(/assets/fonts/MonaspaceKrypton-ExtraBold.woff);
  font-weight: bold;
}

* {
  font-size: $size;
  font-weight: normal;
  font-family: MonaspaceKrypton, monospace;
  margin: 0px;
  padding: 0px;
  line-height: 1.5*$size;
}

html {
  background: $void-color url("/assets/img/bg.png");
  background-attachment: fixed;
}

a {
  color: $fg-color;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  background-color: $fg-color;
  color: $bg-color;
}

::selection {
  color: $bg-color;
  background-color: $fg-color;
}

body {
  max-width: $width;
  margin: 50px auto;
  padding: 30px 80px;
  background-color: $bg-color;
  color: $fg-color;
  border: 1px solid $accent-color;
}

article > *{
  margin-left: $tab-size;
}

section, header{
  margin-bottom: $size;
}

h1:before {
  content: '# ';
  font-weight: normal;
  color: $accent-color;
}

h1:after {
  content: ' #';
  font-weight: normal;
  color: $accent-color;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  margin-bottom: $size;
  margin-top: 2*$size;
}

h1.notice::before,
h1.notice::after {
    color: $bg-color;
}

h1.notice {
  background-color: $notice-color;
  color: $bg-color;
  text-align: center;
  margin-top: $size;
}

h2:before {
  content: '# ';
  font-weight: normal;
  color: $accent-color;
}

h2:after {
  content: ' #';
  font-weight: normal;
  color: $accent-color;
}

h2 {
  font-weight: bold;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  margin-bottom: $size;
  margin-top: 2*$size;
}

h3:before {
  content: '# ';
  font-weight: normal;
  color: $accent-color;
}

h3 {
  font-weight: bold;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  margin-bottom: $size;
}

p:before {
  content: 'p = "';
  color: $dark-color;
}

p {
  margin-bottom: $size;
}

p:last-of-type {
  margin-bottom: $size;
}

p:after {
  content: '"';
  color: $dark-color;
}

ul::before {
  content: "ul = [";
  color: $dark-color;
}

ul {
  list-style-type: none;
  margin-bottom: $size;

  li::before {
    content: '"';
    color: $dark-color;
  }

  li:first-child {
    margin-top: 0px;
  }

  li {
    margin-left: $tab-size;
    margin-top: $size;
  }

  li:last-child::after {
    content: '"';
    color: $dark-color;
  }

  li::after {
    content: '",';
    color: $dark-color;
  }
}

ul::after {
  content: "]";
  color: $dark-color;
}

nav::before {
  content: "nav = ";
  color: $dark-color;
}

nav {
  ul::before {
    content: "[";
    color: $accent-color;
  }

  ul {
    li {
      display: inline;
      margin-left: 0px;

      a {
        text-decoration: none;
      }
    }

    display: inline;
    margin: 0px;
  }

  ul::after {
    content: "]";
    color: $accent-color;
  }
}

header {
  h1::before {
    display: inline;
  }

  h1 {
    text-transform: uppercase;
    margin-bottom: $size;
  }

  nav {
    display: table;
    margin: auto;
  }

  h1::after {
    display: inline;
  }
}

footer {
  p {
    color: $dark-color;
    margin-bottom: $size;
  }

  nav {
    width: 45%;
    margin: 0px auto;
  }

  p:last-of-type {
    margin-bottom: $size;
  }
}

img::before {
  content: "img = {";
  color: $dark-color;
}

img {
  display: block;
  margin: auto;
  margin-bottom: $size;
  width: 60%;
}

article::before {
  content: "article = {";
  color: $dark-color;
}

article::after {
  content: "}";
  color: $dark-color;
}

hr {
  color: $dark-color;
  margin-bottom: $size;
  margin-top: 2*$size;
  border-style: dashed;
  border-color: $dark-color;
  border-width: 2px 0px 0px 0px;
}

