$bg-color: #111;
$fg-color: #f8f8f8;
$accent-color: #ff0069;
$dark-color: #333;
$void-color: #0a0a0a;
$notice-color: #F2E461;
$size: 1em;
$tab-size: 2em;
$width: 700px;

@font-face {
  font-family: MonaspaceKrypton;
  src: url(/assets/fonts/MonaspaceKrypton-Medium.woff);
  font-weight: normal;
}

// @font-face {
//   font-family: MonaspaceKrypton;
//   src: url(/assets/fonts/MonaspaceKrypton-ExtraBoldItalic.woff);
//   font-weight: bold-italic;
// }

@font-face {
  font-family: MonaspaceKrypton;
  src: url(/assets/fonts/MonaspaceKrypton-ExtraBold.woff);
  font-weight: bold;
}

* {
  font-size: $size;
  font-weight: normal;
  font-family: MonaspaceKrypton, monospace;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: $void-color;
}

a {
  color: $fg-color;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  background-color: $fg-color;
  color: $bg-color;
}

::selection {
  color: $bg-color;
  background-color: $fg-color;
}



body {
  width: $width;
  margin: 0px auto;
  padding: 50px 30px;
  background-color: $bg-color;
  color: $fg-color;
}

// body::before {
//   content: "body = {";
//   color: $dark-color;
// }

// body::after {
//   content: "}";
//   color: $dark-color;
// }



//body > *,
//section > *,
nav > *,
//header > *,
//footer > *,
article > * {
  margin-left: $tab-size;
}

section,
header {
  margin-bottom: $size;
}

// section:before {
//   content: "section = {";
//   color: $dark-color;
// }

// section:after {
//   content: "}";
//   color: $dark-color;
// }

h1:before {
  content: '# ';
  font-weight: normal;
  color: $accent-color;
  // display: block;
}

h1:after {
  content: ' #';
  font-weight: normal;
  color: $accent-color;
  // display: block;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  //margin-bottom: $size;
}

h1.notice::before,
h1.notice::after {
    color: $bg-color;
}

h1.notice {
  background-color: $notice-color;
  color: $bg-color;
  text-align: center;
}

// h1:after {
//   content: '"';
//   font-weight: normal;
//   display: block;
//   color: $dark-color;
// }

h2:before {
  content: '# ';
  font-weight: normal;
  color: $accent-color;
  // display: block;
}

h2:after {
  content: ' #';
  font-weight: normal;
  color: $accent-color;
  // display: block;
}

h2 {
  font-weight: bold;
  //text-transform: uppercase;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  margin-bottom: $size;
}

h3:before {
  content: '# ';
  font-weight: normal;
  color: $accent-color;
  // display: block;
}

h3 {
  font-weight: bold;
  //text-transform: uppercase;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  margin-bottom: $size;
}

p:before {
  content: 'p = "';
  color: $dark-color;
}

p {
  margin-bottom: $size;
}

p:last-of-type {
  margin-bottom: 0px;
}

p:after {
  content: '"';
  color: $dark-color;
}

nav::before {
  content: "nav = ";
  color: $dark-color;
}

nav {
  ul::before {
    content: "[";
    color: $accent-color;
  }

  ul {
    li::before {
      content: '"';
      color: $dark-color;
    }

    li {
      display: inline;
    }

    li:last-child::after {
      content: '"';
      color: $dark-color;
    }

    li::after {
      content: '",';
      color: $dark-color;
    }

    display: inline;
    margin: 0px;
  }

  ul::after {
    content: "]";
    color: $accent-color;
  }
}

header {
  h1::before {
    display: inline;
  }

  h1 {
    //text-transform: none;
    text-align: center;
    margin-bottom: $size;
  }

  nav {
    width: 66%;
    margin: 0px auto;
  }

  h1::after {
    display: inline;
  }
}

// header::before {
//   content: "header = {";
//   color: $dark-color;
// }

// header::after {
//   content: "}";
//   color: $dark-color;
// }

// footer::before {
//   content: "footer = {";
//   color: $dark-color;
// }

// footer::after {
//   content: "}";
//   color: $dark-color;
// }

footer {
  p {
    color: $dark-color;
  }
}

img::before {
  content: "img = {";
  color: $dark-color;
}

img {
  display: block;
  margin: auto;
  margin-bottom: $size;
  width: 60%;
}

article::before {
  content: "article = {";
  color: $dark-color;
}

article::after {
  content: "}";
  color: $dark-color;
}

// hr::before {
//   content: "# ";
//   background-color: $bg-color;
// }

hr {
  color: $dark-color;
  margin-bottom: $size;
  border-style: dashed;
  border-color: $dark-color;
  border-width: 2px 0px 0px 0px;
}

