// Light theme
$fg-color: #ffffff;
$bg-color: #5b6ee1;

// Dark theme
// $fg-color: #5b6ee1;
// $bg-color: #000000;

$font-size: 32px;
$page-width: 1000px;
$page-height: 600px;
$header-width: 350px;
$section-width: 650px;

@font-face {
  font-family: Match;
  src: url(/assets/fonts/match/Match\ 7p.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Match;
  src: url(/assets/fonts/match/Match\ 7h.ttf);
  font-weight: bold;
}

// * {
//     margin: 0px;
//     padding: 0px;
// }

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: $header-width $section-width;
    align-content: center;
    row-gap: 16px;
    column-gap: 16px;

    background-color: $bg-color;
    color: $fg-color;
    font-family: Match, sans-serif;
    font-size: $font-size;
    font-smooth: never;
    -webkit-font-smoothing : none;
    -moz-osx-font-smoothing: none;
    width: $page-width;
    height: 100%;
    margin: 0px auto;
}

h1, h2 {
    font-size: $font-size;
}

a {
    color: $fg-color;
}

a:hover {
    color: $bg-color;
    background-color: $fg-color;
}

hr {
  color: $fg-color;
  border-color: $fg-color;
  border-width: 0px 0px 2px 0px;
}

header>a:hover {
    color: $fg-color;
    background-color: $bg-color;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;

    a {
        margin: auto;
        line-height: 0px;
        text-decoration: none;
    }

    nav li {
        list-style: none;
        text-align: right;
    }

    nav li a:after {
        content: " >";
    }
}

article {
    min-height: $page-height;
    max-height: $page-height;
    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: $fg-color $bg-color;

    border-left: 2px solid $fg-color;
    padding: 16px 24px;

    li {
        list-style: inside;
        list-style-type: square;
    }

    li::marker {
        margin-right: 8px;
    }

    h1 {
        text-align: center;
    }

    p:before {
        content:" ";
        display:inline-block;
        margin-left: 40px;
    }
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    opacity: 30%;
    font-size: 16px;
    text-align: center;
}

