<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}

        <article>
            <h1>{{ page.date | date: "%B %d, %Y"}} - {{ page.title }}</h1>

            <section>
                {{ content }}
            </section>

            {% if page.next or page.previous %}
                <hr />
                <section>
                    <h1>Read more</h1>
                    <ul>
                        {% if page.next %}
                            <li>Next post: <a href="{{page.next.url}}">{{page.next.title}}</a></li>
                        {% endif %}
                        {% if page.previous %}
                            <li>Previous post: <a href="{{page.previous.url}}">{{page.previous.title}}</a></li>
                        {% endif %}
                    </ul>
                </section>
            {% endif %}
        </article>



        {% include footer.html %}
    </body>
</html>